In [26]:
# Factorial
def factorial(num):
    fact=1
    if num >= 0:
        if num==1 or num==0:
            return 1
        else:
            for i in range(1,num+1):
                fact*=i
        print(fact)
    else:
        print("Invalid Number/can't found the factorial of negative number !!!")
factorial(-1)

Invalid Number/can't found the factorial of negative number !!!

In [9]:
# simpleInterest 
def simpleInterest(p,r,t):
    print("Simple Interest:",(p*r*t)/100)
simpleInterest(12,9,8)

Simple Interest: 8.64

In [17]:
# sum of 1 to 50
def sumOfNaturalNumber(a,b):
    sum = 0
    for i in range(a,b+1):
       sum+=i // sum=sum+i compound operator 
    print(sum)
sumOfNaturalNumber(1,50)

1275

In [19]:
# formula of sum
def sumOfNaturalNumber(num):
    print(num*(num+1)//2)
sumOfNaturalNumber(50)

1275

In [22]:
# table of 2
def tableOfTwo(num):
    for i in range(1,11):
        print(f"{num} x {i} = {num*i}")
tableOfTwo(2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [34]:
# sum of odds
def sumOfOddNaturalNumber(num):
    sum = 0
    for i in range(1,num+1):
        if i%2!=0: 
            sum+=i # sum=sum+i compound operator 
    print(sum)
sumOfOddNaturalNumber(50)

625

In [47]:
def sum(a=5,b=2): # defaulted parameter # parameter only contains variable
    return a+b
sum(12,6)

18

In [49]:
x = 34
y = 67
sum(x,y) # argument contain both value and varible

101

In [45]:
sum(30)

32

In [48]:
sum()

7

In [52]:
# keyword argument
def show(a,b):
    return a+b
show(a=45,b=12)
show(9,b=12)

21

In [ ]:
def add(a,b):
    c = a + b
    return c
add(2,3)