In [26]:
# Factorial
def factorial(num):
    fact=1
    if num >= 0:
        if num==1 or num==0:
            return 1
        else:
            for i in range(1,num+1):
                fact*=i
        print(fact)
    else:
        print("Invalid Number/can't found the factorial of negative number !!!")
factorial(-1)

Invalid Number/can't found the factorial of negative number !!!

In [9]:
# simpleInterest 
def simpleInterest(p,r,t):
    print("Simple Interest:",(p*r*t)/100)
simpleInterest(12,9,8)

Simple Interest: 8.64

In [17]:
# sum of 1 to 50
def sumOfNaturalNumber(a,b):
    sum = 0
    for i in range(a,b+1):
       sum+=i // sum=sum+i compound operator 
    print(sum)
sumOfNaturalNumber(1,50)

1275

In [19]:
# formula of sum
def sumOfNaturalNumber(num):
    print(num*(num+1)//2)
sumOfNaturalNumber(50)

1275

In [22]:
# table of 2
def tableOfTwo(num):
    for i in range(1,11):
        print(f"{num} x {i} = {num*i}")
tableOfTwo(2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [34]:
# sum of odds
def sumOfOddNaturalNumber(num):
    sum = 0
    for i in range(1,num+1):
        if i%2!=0: 
            sum+=i # sum=sum+i compound operator 
    print(sum)
sumOfOddNaturalNumber(50)

625

In [47]:
def sum(a=5,b=2): # defaulted parameter # parameter only contains variable
    return a+b
sum(12,6)

18

In [49]:
x = 34
y = 67
sum(x,y) # argument contain both value and varible

101

In [45]:
sum(30)

32

In [48]:
sum()

7

In [52]:
# keyword argument
def show(a,b):
    return a+b
show(a=45,b=12)
show(9,b=12)

21

In [ ]:
def add(a,b):
    c = a + b
    return c
add(2,3)

In [1]:
# using return in function 
def add(a,b):
    c = a + b
    return c
add(2,3)
x = add(1,3)
print(x) # reusing c by return in print

4

In [2]:
def add(a,b):
    return a + b
add(2,3)

5

In [3]:
def add(a,b):
    c = a + b
    print(c)
add(2,3)

5

In [4]:
# lambda 1 line function 
sum = lambda n1,n2:n1+n2
sum(12,8)

20

In [5]:
add(10,20)

30

In [6]:
def add(a,b):
    print(a+b)
    def addOne(c,d):
        x = c + d
        print(x)
    addOne(2,3)
add(12,45)

57
5

In [7]:
try :
    a = 10/0
    print(a)
except:
    print("Divide by zero !!!")
finally:
    print("program ended !!!")

Divide by zero !!!
program ended !!!

In [8]:
# Factorial
def factorial(num):
    fact=1
    if num >= 0:
        if num==1 or num==0:
            return 1
        else:
            return num*factorial(num-1) 
    else:
        print("Invalid Number/can't found the factorial of negative number !!!")
print(factorial(5))

120

In [9]:
def reverse(string):
    print(string[::-1])
reverse("Hello World")

dlroW olleH

In [10]:
def reverse(string):
    i = len(string) - 1
    while i >= 0:
        print(string[i],end="")
        i -= 1
reverse("Hello World")

dlroW olleH

In [11]:
string = "anna"
if string[::-1] == string:
    print("palindrome")
else :
    print("not a palindrome")

palindrome

In [12]:
string = input("Enter a string:")
def palindrome(string):
    is_palindrome = True
    for i in range(len(string) // 2):
        if string[i]!=string[-(i + 1)]:
            is_palindrome = False
            break

    if is_palindrome:
        print("palindrome")
    else:
        print("not a palindrome")
palindrome(string)

Enter a string: sneha

not a palindrome

In [13]:
def square(num):
    return num**2
square(5)

25

In [1]:
# using return in function 
def add(a,b):
    c = a + b
    return c
add(2,3)
x = add(1,3)
print(x) # reusing c by return in print

4

In [2]:
def add(a,b):
    return a + b
add(2,3)

5

In [3]:
def add(a,b):
    c = a + b
    print(c)
add(2,3)

5

In [4]:
# lambda 1 line function 
sum = lambda n1,n2:n1+n2
sum(12,8)

20

In [5]:
add(10,20)

30

In [6]:
def add(a,b):
    print(a+b)
    def addOne(c,d):
        x = c + d
        print(x)
    addOne(2,3)
add(12,45)

57
5

In [7]:
try :
    a = 10/0
    print(a)
except:
    print("Divide by zero !!!")
finally:
    print("program ended !!!")

Divide by zero !!!
program ended !!!

In [1]:
n = int(input("Enter the number of terms: "))
def Fibonacci(num):
    a, b = 0, 1
    print("Fibonacci series:")
    for i in range(n):
        print(a, end=" ")
        a, b = b, a + b
Fibonacci(n)

Enter the number of terms:  5

Fibonacci series:
0 1 1 2 3

In [2]:
string = input("Enter a string:")
def countVowel(string):
    vowel = 0
    for i in string:
        if i in ['a','i','o','u','e','A','I','U','O','E']:
            vowel+=1
    print(vowel)
countVowel(string)

Enter a string: Sneha

2

In [3]:
n1 = int(input("Enter a number:"))
num = lambda n1:n1**2
print(num(n1))

Enter a number: 3

9

In [5]:
def averageOfTwo(a,b):
    return (a+b)/2
averageOfTwo(21,78)

49.5

In [4]:
def sumOfNaturalNumber(num):
    sum2 = 0
    for i in range(1,num+1):
        if i%2!=0: 
           sum2+=i # sum=sum+i compound operator 
    print(sum2)
sumOfNaturalNumber(50)

625